In [6]:
import pandas as pd
from sqlalchemy import create_engine

In [7]:
data = pd.read_csv('teacher_details.csv')

In [8]:
print(data)

                  name             department  rating  count_ratings  \
0     Jennifer Abe-Kim             Psychology     4.1             14
1         Brian Foster       American Studies     4.4             58
2      Najwa Al-Qattan                History     3.4             73
3          Dennis Zill            Mathematics     1.9             66
4        William Fulco           Anthropology     4.8             19
...                ...                    ...     ...            ...
1391        Roy Fisher    Theological Studies     4.0             11
1392        Matt Stefl              Marketing     4.8             44
1393         Sona Gala           Business Law     4.7             21
1394    Doris  Baizley                Theater     0.0              0
1395      Shelby Giles  Communication Studies     0.0              0

      difficulty  would_retake
0            3.6           NaN
1            1.5           NaN
2            3.5          0.75
3            4.2           NaN
4            1.9          1.00
...          ...           ...
1391         2.8          1.00
1392         3.3          0.96
1393         2.7          0.94
1394         0.0           NaN
1395         0.0           NaN

[1396 rows x 6 columns]

In [9]:
df = pd.DataFrame(data, columns=['name', 'department', 'rating', 'count_ratings', 'difficulty', 'would_retake'])

In [10]:
df.head()

,name,department,rating,count_ratings,difficulty,would_retake
0,Jennifer Abe-Kim,Psychology,4.1,14,3.6,NaN
1,Brian Foster,American Studies,4.4,58,1.5,NaN
2,Najwa Al-Qattan,History,3.4,73,3.5,0.75
3,Dennis Zill,Mathematics,1.9,66,4.2,NaN
4,William Fulco,Anthropology,4.8,19,1.9,1.00

In [11]:
df['rating'] = df['rating'].astype(float)
df['count_ratings'] = df['count_ratings'].astype(int)
df['difficulty'] = df['difficulty'].astype(float)
df["would_retake"] = df["would_retake"].str.rstrip("%").astype("float") / 100

AttributeError: Can only use .str accessor with string values!

In [15]:
df.tail()

,name,department,rating,count_ratings,difficulty,would_retake
1391,Roy Fisher,Theological Studies,4.0,11,2.8,1.00
1392,Matt Stefl,Marketing,4.8,44,3.3,0.96
1393,Sona Gala,Business Law,4.7,21,2.7,0.94
1394,Doris Baizley,Theater,0.0,0,0.0,NaN
1395,Shelby Giles,Communication Studies,0.0,0,0.0,NaN

In [13]:
print(df.dtypes)

name              object
department        object
rating           float64
count_ratings      int64
difficulty       float64
would_retake     float64
dtype: object

In [3]:
engine = create_engine('')

In [17]:
df.to_sql('teachers', engine, if_exists='append', index=False)

In [17]:
df.to_csv('teacher_details.csv', index=False)